# base
target/
.lein-*
hs*.log
*~
.nrepl-port

# caches
/.clj-kondo/.cache/
.cpcache
/.cache/

# MacOS
.DS_Store

# Dev
/dev/scratch/
todo.org

# Clay
temp
.clay.html
.clay_files
*.qmd

dev/*_scratchpad.clj
symlink-jlink.jar
.env.keys
.env
.calva/
.vscode/
.portal/
notebooks/generated/
