{:remote-repo {:git-url "https://github.com/scicloj/wolframite"
               :branch "main"}
 :clean-up-target-dir false
 :base-target-path "docs" ; this is what GitHub Pages expects
 :subdirs-to-sync [#_"src" "notebooks"]
 ;:source-path ["notebooks"]
 :show true
 :run-quarto true
 :format [:quarto :html]
 :hide-nils true
 :kindly/options {:kinds-that-hide-code #{:kind/md :kind/hiccup :kind/html :kind/tex}}}
