{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        clj-commons/pomegranate {:mvn/version "1.2.1"}}
 :aliases {:dev {:extra-paths ["dev"]}}}
        ;com.wolfram.jlink/JLink {:local/root}}}
