{;; playing around with a more robust strategy for linting macros...
 ;:hooks {:macroexpand {clojuratica.lib.options/let-options clojurativa.lib.options/let-options}}
 ;; for now, this is simple and works:
 :linters {:unresolved-symbol {:exclude [(clojuratica.lib.options/let-options [options math-eval opspecs])]}}}
